<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:include="fragments :: head"/>
<body>
<div th:insert="fragments :: header"/>
<div class="container">
<h2 style="text-align: center;">Aggiunta nuovo studente</h2>
<hr>
</div>
<div class="d-flex justify-content-center">
  <form method="post" th:action="@{/students/add}" th:object="${student}" class="row g-3">
    <div class="form-floating mb-3">
      <input th:field="*{first_name}" type="text" class="form-control" id="floatingInput" placeholder="Nome">
      <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating mb-3">
      <input th:field="*{last_name}" type="text" class="form-control" id="floatingInput" placeholder="Cognome">
      <label for="floatingInput">Cognome</label>
    </div>
    <div class="form-floating mb-3">
      <input th:field="*{email}" type="email" class="form-control" id="floatingInput" placeholder="Email">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input th:field="*{address}" type="text" class="form-control" id="floatingInput" placeholder="Indirizzo">
      <label for="floatingInput">Indirizzo</label>
    </div>
    <div class="form-floating mb-3">
      <input th:field="*{birth_date}" type="date" class="form-control" id="floatingInput" placeholder="Giorno di nascita">
      <label for="floatingInput">Giorno di nascita</label>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success btn-lg">
        Conferma identità
      </button>
    </div>
  </form>
</div>
<footer th:insert="fragments :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>