<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<div th:replace="fragments :: header"/>
<div class="container">
    <h2 style="text-align: center">Modifica corso</h2>
    <hr>
</div>
<div class="d-flex justify-content-center">
    <form method="post" th:action="@{/courses/putCourse/{id}(id=${course.id})}" th:object="${course}" class="row g-3">
        <div class="form-floating mb-3">
            <input th:field="*{name_course}" type="text" class="form-control" id="floatingInput"
                   placeholder="Nome corso" th:value="${course.name_course}">
            <label for="floatingInput">Nome corso</label>
        </div>
        <div class="form-floating mb-3">
            <input th:field="*{description}" type="text" class="form-control" id="floatingInput"
                   placeholder="Descrizione" th:value="${course.description}">
            <label for="floatingInput">Descrizione</label>
        </div>
        <div class="form-floating mb-3">
            <input th:field="*{cfu}" type="number" class="form-control" id="floatingInput" placeholder="cfu"
                   th:value="${course.cfu}">
            <label for="floatingInput">CFU</label>
        </div>
        <!--    <select class="form-select" aria-label="Iscrivi studente">-->
        <!--      <option selected>Iscrivi studente</option>-->
        <!--      <option th:f>One</option>-->
        <!--      <option value="2">Two</option>-->
        <!--      <option value="3">Three</option>-->
        <!--    </select>-->
        <div class="col-auto">
            <button type="submit" class="btn btn-success btn-lg">
                Conferma modifica
            </button>
        </div>
    </form>
</div>

<footer th:insert="fragments :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>