<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<div th:replace="fragments :: header"/>
<div class="container">
<h2 style="text-align: center">Studenti</h2>
<hr>
</div>
<div th:switch="${#arrays.length(students)}">
    <div th:case="0">
        <table class="table table-bordered">
            <thead>
            <tr class="table-success">
                <th style="text-align: center">Nome e Cognome</th>
                <th style="text-align: center">Email</th>
                <th style="text-align: center">Data di Nascita</th>
                <th style="text-align: center">Indirizzo</th>
                <th style="text-align: center">Corsi</th>
                <th style="text-align: center">Azioni</th>
            </tr>
            </thead>
        </table>
        <h3 style="text-align: center">Non ci sono sudenti!</h3>
    </div>
    <div th:case="*">
        <table class="table table-bordered">
            <thead>
            <tr class="table-success">
                <th style="text-align: center">Nome e Cognome</th>
                <th style="text-align: center">Email</th>
                <th style="text-align: center">Data di Nascita</th>
                <th style="text-align: center">Indirizzo</th>
                <th style="text-align: center">Corsi</th>
                <th style="text-align: center">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td>
                    <span th:text="${student.first_name}"></span>
                    <span th:text="${student.last_name}"></span>
                </td>
                <td th:text="${student.email}"></td>
                <td th:text="${#dates.format(student.birth_date, 'dd MMMM yyyy')}"></td>
                <td th:text="${student.address}"></td>
                <td style="text-align: center">
                    <button type="button" class="btn btn-outline-success btn-sm"><a
                            style="text-decoration: none; color: black;"
                            th:href="@{/students/courses/{id}(id=${student.id})}">Seguiti</a></button>
                    <button type="button" class="btn btn-outline-primary btn-sm"><a
                            style="text-decoration: none; color: black;"
                            th:href="@{/students/coursesToDo/{id}(id=${student.id})}">Da Seguire</a></button>
                </td>
                <td style="text-align: center">
                    <span th:object="${user}" th:if="${user.username != 'admin'}">
                        <span th:if="${#arrays.length(user.roles) == 2}">
                            <button type="button" class="btn btn-outline-danger btn-sm"><a
                                    style="text-decoration: none; color: black;"
                                    th:href="@{/students/delete/{id}(id=${student.id})}">Elimina</a></button>
                        </span>
                        <span th:if="${#arrays.length(user.roles) == 1}">
                        <button type="button" class="btn btn-outline-danger btn-sm"
                                onclick="err()">
                            <a style="text-decoration: none; color: black;">Elimina</a></button>
                        </span>
                    </span>
                    <span th:object="${user}" th:if="${user.username == 'admin'}">
                        <button type="button" class="btn btn-outline-danger btn-sm"><a
                                style="text-decoration: none; color: black;"
                                th:href="@{/students/delete/{id}(id=${student.id})}">Elimina</a></button>
                    </span>

                    <button type="button" class="btn btn-outline-warning btn-sm"><a
                            style="text-decoration: none; color: black;"
                            th:href="@{/students/put/{id}(id=${student.id})}">Modifica</a></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="fragments :: footer"/>
<script>
    function err() {
        alert("Non hai i permessi per eseguire quest'azione");
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>
