<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<div th:replace="fragments :: header"/>
<div class="container">
    <h2 style="text-align: center">Utenti</h2>
    <hr>
</div>
<div>
    <table class="table table-bordered">
        <thead>
        <tr class="table-success">
            <th style="text-align: center">Id</th>
            <th style="text-align: center">Username</th>
            <th style="text-align: center">Email</th>
            <th style="text-align: center">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u: ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.email}"></td>
            <td th:switch="${u.username}" style="text-align: center">
                <span th:case="'admin'">ADMIN principale</span>
                <span th:object="${user}" th:case="${user.username}"></span>
                <span th:case="*">
            <button type="button" class="btn btn-outline-danger btn-sm">
                <a style="text-decoration: none; color: black;"
                    th:href="@{/admin/delete/{id}(id=${u.id})}">Elimina</a></button>
            <button th:if="${#arrays.length(u.roles) == 1}"
                    type="button" class="btn btn-outline-success btn-sm">
                <a style="text-decoration: none; color: black;"
                    th:href="@{/admin/getAdmin/{id}(id=${u.id})}">Get Admin</a></button>
          </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:fragment="footer">
    <p style="background-color: #d1e7dd; position: fixed; bottom: 0; width: 100%; text-align: center; padding: 14px 16px; display: block">
        Sei connesso come:
        <span th:object="${user}" th:text="${user.username}"></span>
        [ -<span th:object="${user}" th:each="role: ${user.roles}" th:text="${role.name} + '-'"></span> ]
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>